
#nav-bar{
   background-color: #AF6948;
}
.avatar{
   width: 100px;
   border: 1px solid black;
   border-radius: 100%;
}
.mt{
   margin-top: 20%;
}
.mt-nav{
   margin-top: 45%;
}
ol{
   list-style-type: upper-alpha;
}
.text,ol{
   color:#ffff;
   margin-bottom: 23px;
}
#cor0{
   color:#ffff;
   text-decoration: none;
   line-height: 50px;
   font-size: 20px;
}
.txt-bit{
   color: #AF6948;
}
#cor0:hover{
   color: gray;
}